# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/

notes.txt
# Node
node_modules/
vite.svg
*.log

# Env files
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/